/***************  head components *******************/

.side-bar{
    /* display: block; */
    width: 260px;
    min-width: 260px;
    /* border:1px solid green; */
    background-color: white;
    animation-name: show;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    
}

@keyframes show {
    from{
        width: 70px;
        min-width: 70px;
    }

    to{
       
        width: 260px;
        min-width: 260px;
    }
}
.dash-comp1{
    text-decoration: none;
}
.dash-comp{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 36px;
    cursor: pointer;
   

}
.dash-word{
    font-size: 14px;
    color:#3e4b5b;
}

.dash-word-active{
    font-size: 14px;
    color:#b66dff;
}

.dash-comp:hover, .drop-comp:hover{
    background-color: #fcfcfc;
}

/* Large devices (laptops/desktops, 991px and down) */
@media only screen and (max-width: 991px) {
    .side-bar{
        display: none;
    }
}





.drop-comp{
    /* border: 1px solid blue; */
    position: relative;
    cursor: pointer;
  
    
   
}



.drop-show{
    display: flex;
    /* border:1px solid brown; */
    justify-content: space-between;
    align-items: center;
    padding: 18px 36px;
}
.drop-p{
    font-size: 14px;
    color:#3e4b5b;
}

.drop-p-active{
    font-size: 14px;
    color: #b66dff;
}

.arrow-img{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
@keyframes arow1 {
    from{
        transform: rotate(0deg);
    }

    to{
         transform: rotate(90deg);
    }
}

.arrow{
    transform: rotate(90deg);
    animation-name: arow1;
   animation-duration: 0.3s;
   animation-timing-function: ease;
}

@keyframes arow {
    from{
        transform: rotate(90deg);
        display: none;
    }

    to{
        transform: rotate(0deg);
        display: block;
    }
}

.arrow-active{
   animation-name: arow;
   animation-duration: 0.3s;
   animation-timing-function: ease;
}
.drop-hidden{
  
    display: none;
    height: 0;
    
}

.showdem{
    display: block;
    height: 100%;
    padding-bottom: 12px;
   
    /* border:1px solid green; */
}





.nav-hidden{
    text-decoration: none;
}

.hidden-comp{
    /* border: 1px solid blue; */
    display: flex;
    padding: 12px 36px;
    align-items: center;
    gap:20px;
   
   
}



.hide-p{
    
    font-size: 12px;
    color: #888;;
}

.hide-p-active{
    color: #b66dff;
    font-size: 12px;
}

.hide-p-active:hover, .hide-p:hover{
    color: #3e4b5b;
}

.chevron{
    
}